#div-cardapio{
    padding: 2rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-cardapio{
    background-color: var(--color-light);
    width: 70%;
    margin-bottom: .2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-btn{
    padding: 1rem 0;
    width: 100%;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-btn:hover{
    background-color: var(--color-pink);
    cursor: pointer;
}

.icon-menu{
    font-size: var(--fs-sm);
}

.js .menu-list{
    display: none;
    width: 100%;
}

/*Menu Ativo*/
.js .ativo-menu{
    display: block;
    animation: animacaoLista 1s;
}

@keyframes animacaoLista{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.menu-list ul{
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 1rem;
}